/* main page */

body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
}

#content {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('./imgs/BG.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    max-width: 900px;
    margin: 0px 50px;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar {
    width: 400px;
    display: flex;
    justify-content: center;
}

.nav-btn {
    background-color:  white;
    width: 120px;
    height: 50px;
    color: black;
    border: none;
    font-size: 18px;
}

.nav-btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 500ms;
}

.active {
    background-color: black;
    color: white;
}

.active:hover {
    cursor: default;
}

.header h1 {
    font-size: 38px;
}

.main {
    background-color: rgba(0, 0, 0, .8);
    height: 100vh;
    width: 100%;
    max-width: 900px;
    margin: 0px 50px;
    padding: 0px 15px;
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #333333;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 26px;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer a:hover {
    color: #e0e0e0;
}

/* home page */

.home {
    background-color: black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.hero-title {
    text-align: center;
}

.hero-img {
    width: 300px;
}

.invitation {
    margin: 25px;
}

.invite-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px;
}

/* menu page */

.menu {
    background-color: black;
    width: 100%;
    padding: 15px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.menu-title {
    text-align: center;
    grid-column: span 2;
}

.menu-item {
    justify-items: center;
    text-align: center;
    padding: 35px;
}

.menu-item:hover {
    background-color: #333333;
    cursor: pointer;
}

.menu-item-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* contact page */

.contact {
    background-color: black;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-location {
    width: 600px;
    margin: 50px;
}